In [1]:
import pandas as pd

df = pd.read_csv('big.csv', sep=',')
relevant_columns = df[["timestamp","terts001250","terts001575","terts001984","terts002500","dBA"]]

In [ ]:
tertsMask = \
    (relevant_columns['terts001984'] > 65) & \
    (relevant_columns['terts001575'] > 60) & \
    (relevant_columns['terts002500'] > 55) & \
    (relevant_columns['terts001250'] > 55) & \
    (relevant_columns['dBA'] > 65)
possible_lions = relevant_columns[tertsMask]

In [2]:
print(possible_lions.shape)
possible_lions.head(100)

(4105, 6)

,timestamp,terts001250,terts001575,terts001984,terts002500,dBA
172606,2023-09-17 05:59:42.071,62.6,62.2,65.4,59.5,65.659070
172645,2023-09-17 05:59:46.947,60.4,70.7,66.5,63.6,68.057990
172662,2023-09-17 05:59:49.072,57.4,72.0,66.1,66.5,68.827614
172663,2023-09-17 05:59:49.197,63.5,72.5,65.5,63.2,67.889030
172679,2023-09-17 05:59:51.198,59.1,73.4,66.6,64.9,68.063720
...,...,...,...,...,...,...
253889,2023-09-17 08:49:03.849,77.3,76.0,72.9,73.7,79.995930
253890,2023-09-17 08:49:03.973,73.7,72.8,69.4,70.0,76.221520
253891,2023-09-17 08:49:04.099,69.8,68.6,65.4,66.0,72.455880
257801,2023-09-17 08:57:12.916,62.6,60.4,65.7,64.1,66.025110
258648,2023-09-17 08:58:58.806,71.7,68.3,66.8,67.3,76.555040