In [64]:
import pandas as pd

df = pd.read_csv('big.csv', sep=',')
relevant_data = df[["timestamp","terts001250","terts001575","terts001984","terts002500","dBA"]]
relevant_data['timestamp'] = pd.to_datetime(relevant_data['timestamp'], format="mixed")
relevant_data.set_index('timestamp', inplace=True)

C:\Users\koens\AppData\Local\Temp\ipykernel_23356\1915153248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  relevant_data['timestamp'] = pd.to_datetime(relevant_data['timestamp'], format="mixed")

In [65]:
tertsMask = \
    (relevant_data['terts001984'] > 65) & \
    (relevant_data['terts001575'] > 60) & \
    (relevant_data['terts002500'] > 55) & \
    (relevant_data['terts001250'] > 55) & \
    (relevant_data['dBA'] > 65)
relevant_data = relevant_data[tertsMask]
relevant_data = relevant_data.resample('2T').count()

In [66]:
possible_lions = relevant_data[["dBA"]]
possible_lions = possible_lions[possible_lions["dBA"] > 0]
possible_lions = possible_lions.rename(columns={'dBA': 'Count'})
possible_lions = possible_lions.sort_values(by='Count', ascending=False)

In [67]:
possible_lions.head(20)

                     Count
timestamp
2023-09-18 11:14:00    146
2023-09-18 11:26:00    128
2023-09-18 06:36:00    122
2023-09-18 11:24:00    109
2023-09-18 11:08:00     81
2023-09-18 11:16:00     73
2023-09-18 06:34:00     71
2023-09-17 09:52:00     71
2023-09-18 11:12:00     65
2023-09-19 08:40:00     63
2023-09-18 12:02:00     62
2023-09-18 11:06:00     59
2023-09-18 11:22:00     56
2023-09-18 16:54:00     55
2023-09-17 10:14:00     55
2023-09-18 05:18:00     54
2023-09-18 19:40:00     50
2023-09-18 14:30:00     49
2023-09-19 14:38:00     48
2023-09-18 09:58:00     46